@charset "utf-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css");
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");

/* 본문 스타일 */

body {
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
}


/* 레이아웃 */

.wrapper {
  background: skyblue;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header,
.navigation,
.footer,
.main-content,
.slogan {
  height: 100px;
  width: 100%;
}

.header {
  background: #FACF72;
}

.navigation {
  background: plum;
}

.main-content {
  background: hotpink;
}

.slogan {
  background: blueviolet;
}

.footer {
  background: lime;
}


/* 모바일 */

@media all and (max-width:999px) {}


/* 데스크탑 */

@media all and (min-width:1000px) {
  .wrapper {
    align-items: center;
  }
  .header,
  .navigation,
  .footer,
  .main-content,
  .slogan {
    height: 100px;
    width: 80%;
  }
}